body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  color: #333;
  margin: 0;
  padding: 0;
}

.seccion {
  background-color: #dee2e6;
  padding: 30px;
}

.contenedor {
  width: 80%;
  margin: 0 auto;
  background-color: #e9ecef;
  padding: 20px;
  border-radius: 10px;
  border: 2px solid #adb5bd;
}

p {
  margin-bottom: 20px;
  line-height: 1.6;
}


.mensaje-fijo {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #74c0fc;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: bold;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
